.field label {
  display: block;
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: $black;
}

.field input,
.field textarea {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 2px solid #d7dcde;
  border-radius: 2px;

  &:hover {
    border-color: #b4b9bb;
  }

  &:focus,
  &:active {
    border-color: $black;
    outline: none;
  }
}

.field textarea {
  padding: 11px 14px 13px;
  resize: none;
}