.slider {
  position: relative;
  z-index: 1;
  background-color: $grey;
}

.slider__indicators {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 1;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider__indicator {
  box-sizing: content-box;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
}

.slider__indicator::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $white;
}

.slider__indicator--active::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c2c2c2;
  border-radius: 50%;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.slider__item--current {
  visibility: visible;
  position: static;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}