.title {
  font-size: 45px;
  font-weight: $font-weight-medium;
  line-height: 45px;
  color: $black;
}

.title--main {
  font-size: 55px;
  line-height: 55px;
}

.title--centered {
  text-align: center;
}