/**
  * Colors
  */
$black: #000000 !default;
$light-black: #283136 !default;
$white: #ffffff !default;
$grey: #eeeeee !default;
$dark-grey: #a6a6a6 !default;
$red: #fb565a !default;
$dark-red: #e74246 !default;
$darker-red: #d7373b !default;
$green: #00ca74 !default;
$dark-green: #00bc6c !default;
$darker-green: #00aa62 !default;
$yellow: #efc84a !default;
$dark-yellow: #eab534 !default;
$darker-yellow: #e5a722 !default;

/**
  * Fonts
  */
$font-family: 'Roboto', 'Arial', sans-serif !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

/**
  * Dimensions
  */
$container-width: 1200px;